@media only screen and (max-width: 600px) {
    .navbar-toggler {
        border: none;
        &:focus {
            box-shadow: none;
        }
        .navbar-toggler-icon {
            color: #1e3d79;
        }
    }
    
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .navbar-nav {
        gap: unset;
      }
    .btn-custom {width: 100%;}
    .searchBox {width: 100%;}
    .main-content {
      h1,p {
        text-align: left;
      }
    }
    .content-sub {
        order: 2;
        h2 {
            margin-bottom: 15px;
        }
    }
    .img-sub {
        order: 1;
        img {width: 100%;margin-bottom: 40px;}
    }
    .accordion-button {
        font-size: 24px;
    }
    .socials {
        margin-top: 40px;
    }
    .footer-logo {
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        img {
            width: 100%;
            height: auto;
        }
    }
   
  }